<div class="container-fluid" style="margin: 10px;">
  <div class="register">
      <h1 class="text-center">Registration Form</h1>
      <form #register="ngForm" (ngSubmit)="registered(register)" class="row g-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name:</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" ngModel #name="ngModel"/>
        </div>
        <div class="col-md-6">
          <label for="age" class="form-label">Age:</label>
          <input type="number" name="age" id="age" class="form-control" placeholder="Enter your age" ngModel #age="ngModel"/>
        </div>
        <div class="col-md-6">
          <label for="dno" class="form-label">Door No:</label>
          <input type="number" id="dno" name="dno" class="form-control" placeholder="Enter your door-no" ngModel #dno="ngModel">
        </div>
        <div class="col-md-6">
          <label for="street" class="form-label">Street:</label>
          <input type="text" id="street" name="street" class="form-control" placeholder="Enter your street" ngModel #street="ngModel">
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">City:</label>
          <input type="text" id="city" name="city" class="form-control" placeholder="Enter your city" ngModel #city="ngModel">
        </div>
        <div class="col-md-6">
          <label for="state" class="form-label">State:</label>
          <input type="text" id="state" name="state" class="form-control" placeholder="Enter your state" ngModel #state="ngModel">
        </div>
        <div class="col-md-6">
          <label for="pincode" class="form-label">Pin Code:</label>
          <input type="number" id="pincode" name="pincode" class="form-control" placeholder="Enter your pincode" ngModel #pincode="ngModel">
        </div>
        <div class="col-12">
         <button type="submit" name="submit" id="submit" class="btn btn-primary m-4">Submit</button>
         <button type="reset" name="clear" id="clear" class="btn btn-secondary">Clear</button>
       </div>
      </form>
  </div>
  <button (click)="login()" class="btn btn-danger">Login</button>
 </div>
