 .register {
  background-color: rgb(171, 206, 255);
  padding: 10px;
  width: calc(100vw - 75px);
  border-radius: 15px;
 }

.form-control {
  background-color: white;
  border-color: #3f51b5;
 }

 .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .form-label {
  margin-bottom: 8px;
 }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
