<div class="container-fluid d-flex flex-column flex-md-row">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-md-3" style="flex: 0 0 auto;">
     <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
       <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
       <span class="fs-4">Welcome, {{name}}</span>
     </a>
     <hr>
     <ul class="nav nav-pills flex-column mb-auto">
       <li class="nav-item">
          <a routerLink="/doctor-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Dashboard
          </a>
       </li>
       <li>
          <a routerLink="/doctor-appointments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            My Appointments
          </a>
       </li>
       <li>
          <a routerLink="/schedule-appointments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Schedule Appointments
          </a>
       </li>
       <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Profile
          </a>
       </li>
      </ul>
     <hr>
     <div>
       <a (click)="logout()" class="d-flex align-items-center link-body-emphasis text-decoration-none">
         <strong>Logout</strong>
       </a>
     </div>
  </div>
  <div class="main-content col-md-9">
     <router-outlet></router-outlet>
  </div>
 </div>
