<div class="card mb-3">
  <div class="card-header">
    <!-- <h5 class="card-title"> -->
      <div>
          <table class="table table-bordered mt-3">
          <thead>
              <tr>
              <th>Patient Id</th>
              <th>Doctor Id</th>
              <th>Time slot</th>
              <th>Description</th>
              <th>Diagnosis</th>
              <th>Status</th>
              <th>Approve</th>
              <th>Reject</th>
              </tr>
          </thead>
          <tbody *ngFor="let appointment of allAppointments">
              <tr *ngIf="appointment.status === 'REQUESTED'">
              <td>{{ appointment.patientId }}</td>
              <td>{{ appointment.doctorId }}</td>
              <td>{{ appointment.timeSlot }}</td>
              <td>{{ appointment.description }}</td>
              <td>{{ appointment.diagnosis }}</td>
              <td>{{ appointment.status }}</td>
              <td><button
                (click)="approveAppointment(appointment)"
                    class="btn btn-success"
                  >
                    Approve
                  </button></td>
                <td><button (click)="rejectAppointment(appointment)" class="btn btn-warning">Reject</button></td>
              </tr>
          </tbody>

          </table>
    </div>
      <!-- <table border="0" class="exp">
          <thead>
              <th>asdfa</th>
          <th>asdf</th>
          <th>asdf</th>
          </thead>
        <tbody>
          <tr class="exp-tr">
              <td>{{ doc.name }}</td>
              <td>{{ doc.specialization }}</td>
              <td>
                <button
                (click)="showAppointment(doc.id)"
                  class="btn btn-warning"
                >
                  See Slots
                </button>
              </td>
            </tr>
        </tbody>
      </table> -->
  </div>
</div>
