td {
  padding: 0px;
  margin: 0px;
}

.form {
  padding-left: calc(100vw - 80vw);
}

form div {
  margin-bottom: 10px;
 }

 .register {
  background-color: rgb(171, 206, 255);
  padding: 10px;
  border-radius: 15px;
 }

.form-control {
  background-color: white;
  border-color: #3f51b5;
 }

 .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .form-label {
  margin-bottom: 8px; 
 }
