<p>Hey, <b>{{name}} !</b> Here is your Appointments,</p>
<div class="card mb-3">
    <div class="card-header">
        <div>
            <table class="table table-bordered mt-3">
            <thead>
                <tr>
                <th>Patient Id</th>
                <th>Doctor Id</th>
                <th>Time slot</th>
                <th>Description</th>
                <th>Diagnosis</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let appointment of appointments">
                <tr *ngIf="appointment.status === 'APPROVED'">
                <td>{{ appointment.patientId }}</td>
                <td>{{ appointment.doctorId }}</td>
                <td>{{ appointment.timeSlot }}</td>
                <td>{{ appointment.description }}</td>
                <td>{{ appointment.diagnosis }}</td>
                <td>{{ appointment.status }}</td>
                </tr>
            </tbody>
  
            </table>
      </div>
    </div>
  </div>
  