<div class="home-container">
  <div class="grid-container">
      <div class="welcome-section row">
        <h1>Welcome to Our Doctor Appointment System</h1>
        <p>Book your appointments with ease and manage your health records online.</p>
        <div class="buttons">
          <button routerLink="/login" class="btn btn-primary" role="button">Login</button>
          <button routerLink="/register" class="btn btn-secondary" role="button">Register</button>
        </div>
      </div>
      <div class="translucent-section row">
       <div class="translucent-text">
         <h2>Your Health, Our Priority</h2>
         <p>We provide a seamless experience for booking appointments and managing your health records.</p>
       </div>
      </div>
  </div>
 </div>
