.sidebar {
  height: calc(100vh);
}

.container-fluid {
  display: flex;
  flex-direction: column;
 }

 .sidebar {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f8f9fa;
  padding: 20px;
 }

 .main-content {
  flex: 1;
  padding: 20px;
 }
